# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
.venv
venv/
env/

# Fichiers des IDE
.vscode/
.idea/

# Fichiers de données et artefacts (à adapter)
data/
#*.json
#model_artifacts/

# Fichiers de build et de distribution
dist/
build/
*.egg-info/

# Caches Poetry
.pypoetry.cfg

# Fichier checklist de développement
CHECKLIST.md

# Ignorer le fichier d'environnement
.env

# Fichiers de configuration de test
.coverage